.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.nav-item {
    font-family: "Montserrat", sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
}

.about-me-card, .edu-card, .work-card-back {
    background-color: rgb(166,222,213, 0.6);
    margin: 2%;
    padding: 2%;
    border-radius: 3em;
}

.edu-card-back, .work-card {
    background-color: rgb(222,166,175, 0.6);
    margin: 2%;
    padding: 2%;
    border-radius: 3em;
}

.flip-btn {
    font-size: 2rem;
    color: white;
    background-color: #f3d5a6;
    margin: 2%;
}

.ph2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

#nav-bar {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#social-icons {
    display: inline-flex;
}

#social-bar {
    margin-top: 5%;
    margin-bottom: 3%;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    background-color: #f0c48f;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}

h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}

h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;
}

h5 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}

p {
    font-size: 2.5rem;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: white;
}